#Some rules
*.o
*.a
*.exec
*.info
*Makefile
*.deps
grub/config.h
grub/config.log
grub/config.status
grub/grub/grub
grub/stage1/stage1
grub/stage2/e2fs_stage1_5
grub/stage2/fat_stage1_5
grub/stage2/ffs_stage1_5
grub/stage2/iso9660_stage1_5
grub/stage2/jfs_stage1_5
grub/stage2/minix_stage1_5
grub/stage2/pre_stage2
grub/stage2/reiserfs_stage1_5
grub/stage2/stage2
grub/stage2/stage2_eltorito
grub/stage2/stage2_size.h
grub/stage2/start
grub/stage2/start_eltorito
grub/stage2/ufs2_stage1_5
grub/stage2/vstafs_stage1_5
grub/stage2/xfs_stage1_5
grub/stamp-h1
grub/util/grub-image
grub/util/grub-install
grub/util/grub-md5-crypt
grub/util/grub-set-default
grub/util/grub-terminfo
grub/util/mbchk
